.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: linear-gradient(135deg, #020617, #020617, #020617);
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-main {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
}
